<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ book?.conteudo || 'Carregando...' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" class="ion-padding">

  <div *ngIf="book">
    <ion-list>
      <ion-item-divider color="primary" *ngFor="let titulo of book.titulos">
        <ion-label>
          <h2>{{ titulo.conteudo }}</h2>
        </ion-label>
      </ion-item-divider>

      <ion-list *ngFor="let titulo of book.titulos">
        <ion-item lines="full" *ngFor="let capitulo of titulo.capitulos">
          <ion-label>
            <h3>{{ capitulo.conteudo }}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-list>
  </div>

  <div *ngIf="!book">
    <p class="text-center">Livro não encontrado ou ainda carregando...</p>
  </div>

  <ion-button expand="block" color="secondary" class="ion-margin-top" (click)="showModal(book?.conteudo)">
    Ver Comentário Adicional
  </ion-button>
</ion-content>