<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ book?.conteudo || 'Carregando...' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" class="ion-padding">

  <div *ngIf="book">
    <ion-card *ngFor="let titulo of book.titulos" class="ion-text-center">
      <ion-card-header>
        <ion-card-title>{{ titulo.conteudo }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list lines="none">
          <ion-item *ngFor="let capitulo of titulo.capitulos" (click)="navigateToCapitulo(capitulo)">
            <ion-label>
              <h3>{{ capitulo.conteudo }}</h3>
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!book">
    <ion-spinner class="ion-margin-top"></ion-spinner>
    <p class="text-center">Carregando dados...</p>
  </div>

</ion-content>