<ion-header>
  <ion-toolbar id="toolbar">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo-personalizado">Regimento Comentado</ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-padding">
    <div class="search-container">
        <ion-searchbar
        searchIcon="none"
        #searchInput
        color="light"
        animated="true"
        placeholder="Digite sua busca..."
        show-clear-button="always"
        [(ngModel)]="query"
        (ionInput)="onSearchInput($event)"
        (ionClear)="clearSearch()"
        debounce="300"
        (keyup.enter)="executeSearch()"
        style="margin-top: 10px;"
      >
      </ion-searchbar>
  
      <ion-button size="small" fill="clear" (click)="showSearchOptions()">
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
  
      <ion-button
        size="small"
        fill="clear"
        (click)="showSearchHistory()"
        *ngIf="searchHistory.length > 0"
      >
        <ion-icon name="time-outline"></ion-icon>
      </ion-button>
    </div>
    <!-- Loader de pesquisa -->
    <div class="search-loader" *ngIf="isSearching">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Buscando...</p>
    </div>
    <div class="header-links">
      <a (click)="openModal('abreviaturas')" class="header-link">Abreviaturas</a>
      <a (click)="openModal('indice')" class="header-link">Sumário</a>
      <a (click)="openPdfDirectly('resumos')" class="header-link">
        Resumos temáticos
      </a>
      <a (click)="openPdfDirectly('esquemas')" class="header-link">
        Esquemas
      </a>
    </div>  
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ng-container>
    <ng-container *ngIf="(filteredBook || book)?.titulos?.length; else loading">
      <h3 class="main-title" [innerHTML]="highlightAndSanitize(primeiroParagrafo)"></h3>
      <div *ngFor="let titulo of (filteredBook || book).titulos; trackBy: trackByTituloId">
        <ng-container *ngIf="titulo.conteudo?.trim()">
          <h2 class="titulo" [innerHTML]="highlightAndSanitize(titulo.conteudo)"></h2>

          <ng-container *ngFor="let capitulo of titulo.capitulos; trackBy: trackByCapituloId">
            <h3 class="capitulo" [innerHTML]="highlightAndSanitize(capitulo.conteudo)"></h3>
            <ng-container *ngFor="let secao of capitulo.secaos; trackBy: trackBySecaoId">
              <h4 class="secao" [innerHTML]="highlightAndSanitize(secao.conteudo)"></h4>
              <div class="artigo-container">
                <div *ngFor="let artigo of secao.artigos; trackBy: trackByArtigoId">
                  <h5
                    [id]="'artigo-' + artigo.id"
                    [innerHTML]="highlightAndSanitize(artigo.conteudo)"
                  ></h5>

                  <div *ngFor="let paragrafo of artigo.paragrafos; trackBy: trackByParagrafoId">
                    <h5
                      [id]="'paragrafo-' + paragrafo.id"
                      [innerHTML]="highlightAndSanitize(paragrafo.conteudo)"
                      class="text-justify"
                    ></h5>

                    <ng-container *ngFor="let remissao of paragrafo.remissoes; trackBy: trackByRemissaoId">
                      <div class="remissao-container mt-3 mb-4 pl-4" 
                           *ngIf="remissao.conteudo && remissao.conteudo.trim().startsWith('Art')">
                        <div class="remissao-content" [attr.data-remissao-id]="remissao.id">
                          <div class="remissao-text"
                            [innerHTML]="highlightAndSanitize(remissao.conteudo)">
                          </div>
                          <div class="remissao-indicator">
                            <ion-icon name="link-outline" class="remissao-icon"></ion-icon>
                            <span>Clique para navegar</span>
                          </div>
                        </div>
                      </div>
                    </ng-container>

                    <ng-container *ngFor="let comentario of paragrafo.comentarios; trackBy: trackByComentarioId">
                      <p class="comentario mt-4">
                        <span class="comentario-tipo font-semibold">{{ comentario.tipo | titlecase }}</span>
                        <span 
                        [innerHTML]="processComentarioContentFormated(comentario.conteudo, comentario.id)" (click)="toggleComment(comentario.id)"
                        ></span>
                      </p>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <div class="ion-text-center ion-margin-top">
      <ion-spinner></ion-spinner>
      <p class="text-center">Carregando dados...</p>
    </div>
  </ng-template>

  <!-- Indicador de retorno de remissão -->
  <div *ngIf="showReturnIndicator" class="return-indicator" (click)="navigateBack()">
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
    <span>Voltar à origem</span>
  </div>
</ion-content>

<!-- Barra de navegação de resultados melhorada -->
<div class="search-navigation-bar" *ngIf="totalResults > 0">
  <!-- Tooltip de contexto -->
  <div class="navigation-tooltip" *ngIf="currentResultIndex >= 0">
    <span class="tooltip-text">{{ getCurrentResultContext() }}</span>
  </div>
  
  <!-- Controles de navegação -->
  <div class="navigation-controls">
    <!-- Navegação com setas -->
    <div class="navigation-arrows">
      <button 
        class="nav-arrow-btn" 
        (click)="navigateToPreviousResult()"
        [disabled]="currentResultIndex <= 0"
        [class.disabled]="currentResultIndex <= 0"
        title="Resultado anterior"
      >
        <ion-icon name="chevron-up-outline"></ion-icon>
      </button>
      
      <div class="result-counter">
        <span class="current-result">{{ currentResultIndex + 1 }}</span>
        <span class="separator">/</span>
        <span class="total-results">{{ totalResults }}</span>
      </div>
      
      <button 
        class="nav-arrow-btn" 
        (click)="navigateToNextResult()"
        [disabled]="currentResultIndex >= totalResults - 1"
        [class.disabled]="currentResultIndex >= totalResults - 1"
        title="Próximo resultado"
      >
        <ion-icon name="chevron-down-outline"></ion-icon>
      </button>
    </div>
  </div>
</div>
  
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleAllComments()">
        <ion-icon [name]="allCommentsExpanded ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
          {{ allCommentsExpanded ? 'Recolher' : 'Expandir' }}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="scrollToTop()">Voltar pro topo</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
