<ion-header>
  <ion-toolbar id="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ artigo?.titulo || 'Artigo' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" class="ion-padding">
  <div *ngIf="artigo">
    <ion-card>
      <ion-card-header>
        <ion-card-title style="display: flex; align-items: center; justify-content: space-between;">{{
          cleanHTML(artigo.conteudo)}}
          <ion-button *ngIf="user?.is_admin" size="small" fill="clear" (click)="abrirEditor(artigo.id, 'artigo')">
            <ion-icon name="pencil-outline" class="icons"></ion-icon>
          </ion-button>
          <ion-button fill="clear">
            <ion-icon name="trash-outline" class="icons"></ion-icon>
          </ion-button>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="artigo.paragrafos?.length">
        <ion-list>
          <ion-item *ngFor="let paragrafo of artigo.paragrafos">
            <ion-label>
              <p>{{ cleanHTML(paragrafo.conteudo) | slice: 0:100 }}...</p>

              <div style="margin-top: 10px;">
                <ion-button *ngIf="user?.is_admin" size="small" fill="clear"
                  (click)="abrirEditor(paragrafo.id, 'paragrafo')" class="icons">
                  <ion-icon name="pencil-outline" class="icons"></ion-icon>
                </ion-button>
                <ion-button fill="clear">
                  <ion-icon name="trash-outline" class="icons"></ion-icon>
                </ion-button>

                <ion-button size="small" fill="outline" color="primary"
                  (click)="openModal(cleanHTML(paragrafo.conteudo))">
                  Ver mais
                </ion-button>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!artigo">
    <p>Artigo não encontrado.</p>
  </div>
</ion-content>