<ion-content [fullscreen]="true" id="content" class="ion-padding">
  <ion-searchbar color="light" animated="true" placeholder="Digitar" show-clear-button="always" clear-icon="trash-bin"
    [(ngModel)]="query">
  </ion-searchbar>

  <ion-card class="ion-text-center">
    <ion-card-content>
      <ion-list>
        <ion-radio-group [(ngModel)]="searchBy">
          <ion-item>
            <ion-radio value="keyword" aria-label="Palavra Chave"></ion-radio>
            <ion-label>Palavra Chave</ion-label>
          </ion-item>
          <ion-item>
            <ion-radio value="artigo" aria-label="Artigo"></ion-radio>
            <ion-label>Artigo</ion-label>
          </ion-item>
        </ion-radio-group>
        <br>
        <ion-button expand="block" (click)="search()">
          <ion-icon name="search-outline" slot="start"></ion-icon>
          Buscar
        </ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-list *ngIf="searchResults && searchResults.length">
    <ion-list-header>
      Resultados ({{ searchResults.length }})
    </ion-list-header>
    <ion-item *ngFor="let item of searchResults">
      <ion-label>
        <h2>{{ item.tipo | titlecase }} - ID: {{ item.id }}</h2>
        <p>{{ item.conteudo }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>