<ion-header [translucent]="true">
  <ion-toolbar id="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="fecharModal()">
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Alterar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="change-password-content">
  <ion-card class="change-password-card">
    <ion-card-header>
      <ion-card-title class="titulo">Atualize sua senha</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="inset">
        <ion-label position="floating">Senha Atual</ion-label>
        <ion-input [type]="showCurrentPassword ? 'text' : 'password'" [(ngModel)]="passwordForm.current_password"
          autocomplete="off"></ion-input>
        <ion-icon slot="end" [name]="showCurrentPassword ? 'eye-off-outline' : 'eye-outline'"
          (click)="togglePasswordVisibility('current')" class="eye-icon"></ion-icon>
      </ion-item>

      <ion-item lines="inset">
        <ion-label position="floating">Nova Senha</ion-label>
        <ion-input [type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="passwordForm.new_password"
          autocomplete="off"></ion-input>
        <ion-icon slot="end" [name]="showNewPassword ? 'eye-off-outline' : 'eye-outline'"
          (click)="togglePasswordVisibility('new')" class="eye-icon"></ion-icon>
      </ion-item>

      <ion-item lines="inset">
        <ion-label position="floating">Confirmar Nova Senha</ion-label>
        <ion-input [type]="showConfirmPassword ? 'text' : 'password'"
          [(ngModel)]="passwordForm.new_password_confirmation" autocomplete="off"></ion-input>
        <ion-icon slot="end" [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"
          (click)="togglePasswordVisibility('confirm')" class="eye-icon"></ion-icon>
      </ion-item>

      <ion-button expand="block" class="confirm-btn" (click)="changePassword()">
        Alterar Senha
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>