<ion-header>
  <ion-toolbar>
    <ion-title>Pagamento Concluído</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: #2dd55b; text-align: center;">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        Sucesso!
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3 style="color: #2dd55b; text-align: center;">O pagamento foi processado com sucesso.</h3>
      <br>
      <ion-item>
        <ion-textarea label="" disabled="true" labelPlacement="stacked" [(ngModel)]="transactionDetails.message "
          style="text-align: center;"></ion-textarea>
      </ion-item>
      <br>
      <ion-button expand="full" routerLink="/login">Ir para Login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>