<ion-header>
  <ion-toolbar id="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="content" class="ion-padding">
  <div *ngIf="!loading && errorMessage">
    <p class="text-red">{{ errorMessage }}</p>
  </div>

  <div *ngIf="!loading && users.length > 0">
    <ion-accordion-group>
      <ion-accordion *ngFor="let user of users" [value]="user.id" style="margin-bottom: 10px; background-color: white;">
        <ion-item slot="header" lines="none">
          <ion-label>
            <h2>{{ user.name }}</h2>
            <p>{{ user.email }}</p>
          </ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">
          <p class="blackColor"><strong>Plano:</strong>
            {{ user.plan === 'monthly' ? 'Mensal' : (user.plan === 'yearly' ? 'Anual' : 'Não informado') }}
          </p>
          <p class="blackColor"><strong>Status:</strong> <ion-chip
              [color]="user.subscriptionStatus === 'active' ? 'success' : 'danger'" class="text-capitalize">
              <ion-label>{{ user.subscriptionStatus }}</ion-label>
            </ion-chip>
          <p *ngIf="user.subscriptionStartDate" class="blackColor">
            <strong>Início da Assinatura:</strong> {{ (user.subscriptionStartDate | date:'yyyy-MM-dd':'UTC') |
            date:'dd/MM/yyyy' }}
          </p>
          <p *ngIf="user.subscriptionEndDate" class="blackColor">
            <strong>Fim da Assinatura:</strong> {{ (user.subscriptionEndDate | date:'yyyy-MM-dd':'UTC') |
            date:'dd/MM/yyyy' }}
          </p>
          <ion-button expand="block" color="primary" [routerLink]="['/user-edit', user.id]">
            Editar Usuário
          </ion-button>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <br>
  </div>

  <div *ngIf="!loading && users.length === 0">
    <p class="text-center">Nenhum usuário encontrado.</p>
  </div>
</ion-content>