<ion-header>
  <ion-toolbar>
    <ion-title>Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="content">
  <ion-tabs>
    <!-- Aba de Dados do Cliente -->
    <ion-tab-bar slot="top">
      <ion-tab-button tab="dados-cliente">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Dados do Cliente</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="endereco">
        <ion-icon name="location-outline"></ion-icon>
        <ion-label>Endereço</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="pagamento">
        <ion-icon name="card-outline"></ion-icon>
        <ion-label>Pagamento</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Já tem cadastro? <a routerLink="/login">Faça login</a>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Aba Dados do Cliente -->
    <ion-tab tab="dados-cliente">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Informações Pessoais</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Nome Completo *</ion-label>
            <ion-input [(ngModel)]="paymentData.customer_name" name="customer_name" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">CPF *</ion-label>
            <ion-input [(ngModel)]="paymentData.customer_identity" name="customer_identity" required maxlength="11"
              (ionChange)="applyCpfMask($event)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Celular *</ion-label>
            <ion-input [(ngModel)]="paymentData.customer_phone" name="customer_phone" required maxlength="11"
              (ionChange)="applyPhoneMask($event)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">E-mail *</ion-label>
            <ion-input [(ngModel)]="paymentData.customer_email" name="customer_email" type="email" required></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-tab>

    <!-- Aba Endereço -->
    <ion-tab tab="endereco">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Endereço</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">CEP *</ion-label>
            <ion-input [(ngModel)]="paymentData.address_zipcode" name="address_zipcode" required maxlength="9"
              (ionChange)="applyCepMask($event)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Rua *</ion-label>
            <ion-input [(ngModel)]="paymentData.address_street" name="address_street" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Número *</ion-label>
            <ion-input [(ngModel)]="paymentData.address_number" name="address_number" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Complemento *</ion-label>
            <ion-input [(ngModel)]="paymentData.address_complement" name="address_complement" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Bairro *</ion-label>
            <ion-input [(ngModel)]="paymentData.address_district" name="address_district" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Cidade *</ion-label>
            <ion-input [(ngModel)]="paymentData.address_city" name="address_city" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Estado (UF) *</ion-label>
            <ion-input [(ngModel)]="paymentData.address_state" name="address_state" maxlength="2" required></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-tab>

    <!-- Aba Pagamento -->
    <ion-tab tab="pagamento">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Dados de Pagamento</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Nome no Cartão *</ion-label>
            <ion-input [(ngModel)]="paymentData.card_holder" name="card_holder" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Número do Cartão *</ion-label>
            <ion-input [(ngModel)]="paymentData.card_number" name="card_number" maxlength="19" required
              (ionChange)="applyCardMask($event)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Validade (MM/AAAA) *</ion-label>
            <ion-input [(ngModel)]="paymentData.expiration_date" name="expiration_date" maxlength="7" required
              (ionChange)="applyExpirationDateMask($event)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">CVV *</ion-label>
            <ion-input [(ngModel)]="paymentData.security_code" name="security_code" maxlength="4" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Parcelas *</ion-label>
            <ion-select [(ngModel)]="paymentData.installments" name="installments" required>
              <ion-select-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="i">{{ i }}x</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Valor Total *</ion-label>
            <ion-input [(ngModel)]="paymentData.amount" name="amount" type="number" required readonly
              [value]="planType === 'monthly' ? 19.99 : 190.00"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Tipo de Plano *</ion-label>
            <ion-input [(ngModel)]="paymentData.plan_type" name="plan_type" required readonly
              [value]="planType === 'monthly' ? 'Plano Mensal' : 'Plano Anual'"></ion-input>
          </ion-item>

          <ion-button expand="block" color="success" (click)="submitPayment()">
            <ion-icon slot="start" name="card-outline"></ion-icon>
            Confirmar Pagamento
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-tab>
  </ion-tabs>
</ion-content>