<ion-content id="content">
  <ion-grid>
    <ion-row>
      <ion-col class="button-container" *ngIf="user?.is_admin">
        <ion-fab [routerLink]="['/home/menu/users']">
          <ion-fab-button class="custom-button">
            <ion-icon name="people"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <span class="button-text">Usuários</span>
      </ion-col>

      <ion-col class="button-container" *ngIf="user?.is_admin">
        <ion-fab [routerLink]="['/home/menu/pagamentos']">
          <ion-fab-button class="custom-button">
            <ion-icon name="stats-chart"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <span class="button-text">Faturamento</span>
      </ion-col>

      <ion-col class="button-container">
        <ion-fab [routerLink]="['/home/menu/planos']">
          <ion-fab-button class="custom-button">
            <ion-icon name="card-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <span class="button-text">Assinaturas</span>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col class="button-container" *ngIf="user?.is_admin">
        <ion-fab [routerLink]="['/home/menu/dashboards']">
          <ion-fab-button class="custom-button">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <span class="button-text">Painel Adiministrativo</span>
      </ion-col>
      <ion-col class="button-container" *ngIf="!user?.provider">
        <ion-fab [routerLink]="['/home/menu/change-password']">
          <ion-fab-button class="custom-button">
            <ion-icon name="file-tray-full"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <span class="button-text">Alterar Senha</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="logout-button" expand="full" color="danger" (click)="logout()">
    <ion-icon name="log-out"></ion-icon>
    <span>Sair</span>
  </ion-button>
</ion-content>