:root {
  --google-red: #db4437;
  --color-plan: #eab308;
  --link-color: #2563eb;
  --facebook-blue: #3b5998;
  --primary-color: #1e999a;
  --secondary-color: #157d7d;
  --comentario-color: #16a34a;
}

#content {
  --background: #141c2a !important;
}

.icons {
  color: #fff;
}

#toolbar {
  --background: linear-gradient(to bottom right, #6b7280, #10b981);
  color: white;
}

.login-btn {
  --background: var(--primary-color);
  --color: white;
  border-radius: 25px;
  font-weight: bold;
  transition: transform 0.2s;
}

.login-btn:hover {
  transform: scale(1.05);
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator .line {
  flex: 1;
  height: 1px;
  background: #ddd;
  margin: 0 10px;
}

.separator-text {
  font-size: 0.9rem;
  color: #888;
}

.social-btn {
  --background: #f7f7f7;
  --color: #333;
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.3s;
}

.social-btn:hover {
  filter: brightness(0.95);
}

.google-btn {
  --background: var(--google-red);
  --color: white;
}

.facebook-btn {
  --background: var(--facebook-blue);
  --color: white;
}

.corPlano-btn {
  --background: var(--color-plan);
  --color: white;
}

.titulo {
  color: var(--primary-color);
}
.capitulo {
  color: var(--secondary-color);
}
.secao {
  color: var(--secondary-color);
}

.nota-link {
  color: var(--link-color);
}

.comentario {
  color: var(--comentario-color);
}

.comentario-tipo {
  font-weight: bold;
  font-style: italic;
  display: inline-block;
  color: var(--comentario-color);
}
