<ion-header style="background-color: transparent;">
  <ion-toolbar id="toolbar">
    <ion-title class="header-title">{{this.nameApp}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <div class="scrollable-content center-container">
    <ion-card id="loginCard">
      <ion-card-content>
        <ion-item lines="full" class="input-item">
          <ion-input type="email" label="Email" placeholder="Email" [(ngModel)]="email" label-placement="floating"
            autocomplete="on">
          </ion-input>
        </ion-item>

        <ion-item lines="full" class="input-item ion-margin-top">
          <ion-input type="password" label="Senha" placeholder="Senha" [(ngModel)]="password" label-placement="floating"
            autocomplete="on">
          </ion-input>
        </ion-item>

        <ion-button expand="block" class="login-btn ion-margin-top" (click)="login()">Entrar</ion-button>

        <div class="separator ion-margin-vertical">
          <div class="line"></div>
          <span class="separator-text">Ou entre com</span>
          <div class="line"></div>
        </div>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" class="social-btn google-btn" (click)="loginWithGoogle()">
                <ion-icon slot="start" name="logo-google"></ion-icon>
                Google
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" class="social-btn facebook-btn" (click)="loginWithFacebook()">
                <ion-icon slot="start" name="logo-facebook"></ion-icon>
                Facebook
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>