<ion-header class="ion-no-border transparent">
  <ion-toolbar id="toolbar">
    <ion-title class="header-title" style="text-align: center;">{{ nameApp }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-container">
    <ion-card class="login-card">
      <ion-card-content>
        <ion-item lines="inset">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input type="email" placeholder="Email" [(ngModel)]="email" label="Email" label-placement="floating"
            autocomplete="on"></ion-input>
        </ion-item>

        <ion-item lines="inset" class="ion-margin-top">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Senha" [(ngModel)]="password" label="Senha"
            label-placement="floating"></ion-input>
          <ion-icon slot="end" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
            (click)="togglePasswordVisibility()" class="eye-icon"></ion-icon>
        </ion-item>

        <br>
        <ion-button fill="clear" class="forgot-password-btn" routerLink="/forgot-password">
          Esqueceu sua senha?
        </ion-button>
        <br>

        <ion-button expand="block" class="login-btn ion-margin-top" (click)="login()">
          Entrar
        </ion-button>

        <div class="separator">
          <div class="line"></div>
          <span class="separator-text">Ou entre com</span>
          <div class="line"></div>
        </div>

        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="ion-margin-bottom">
              <ion-button expand="block" class="social-btn google-btn" (click)="socialLogin('google')">
                <ion-icon slot="start" name="logo-google"></ion-icon>
                Google
              </ion-button>
            </ion-col>
            <ion-col size="12" class="ion-margin-bottom" *ngIf="isIOS">
              <ion-button expand="block" class="social-btn apple-btn" (click)="socialLogin('apple')">
                <ion-icon slot="start" name="logo-apple"></ion-icon>
                Apple
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
         <div class="separator">
          <div class="line"></div>
         </div>
        <div class="ion-text-center ion-margin-top">
          <ion-button fill="clear" class="forgot-password-btn" routerLink="/cadastro">
            Não tem uma conta? Cadastre-se
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>