<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{this.nameApp}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content id="content">

      <ion-list *ngIf="user">
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="user.photo || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
          </ion-avatar>
          <ion-label>
            <h2>{{ user.name || 'Usuário Anônimo' }}</h2>
            <p>{{ user.email || 'Não informado' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!-- Menu Principal -->
      <ion-list>
        <!-- Exibe opções para usuários autenticados -->
        <ion-item *ngIf="user" routerLink="/home">
          <ion-icon name="book-outline" slot="start"></ion-icon>
          <ion-label> 📚 Livros</ion-label>
        </ion-item>

        <!-- Logout -->
        <ion-item *ngIf="user" (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Sair</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>