:root {
  --primary-color: #1e999a;
  --hover-color: #157d7d;
  --background-gradient: linear-gradient(to bottom right, #ffffff, #f8fafc);
}

.section-title {
  text-align: center;
  color: #ffffff;
  margin: 16px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.textos-juridicos {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.custom-card {
  border-radius: 12px;
  box-shadow: 0 4px 10px #131a28;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px #131a28;
  }
}

.custom-link {
  color: var(--hover-color);
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
    color: var(--primary-color);
  }
}

.card-footer {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

ion-buttons {
  display: flex;
  gap: 20px; /* Adiciona espaçamento de 20px entre os botões */
}

.action-link {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
}

.edit-link {
  color: #00796b; /* Verde */
}

.delete-link {
  color: #790000; /* Vermelho */
}

.action-link:hover {
  text-decoration: underline;
}
