:root {
  --primary-color: #1e999a;
  --hover-color: #157d7d;
  --background-gradient: linear-gradient(to bottom right, #ffffff, #f8fafc);
}

.section-title {
  text-align: center;
  color: #ffffff;
  margin: 16px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.color {
  color: var(--primary-color);
}

.textos-juridicos {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.custom-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px #131a28;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px #131a28;
  }
}

.custom-link {
  color: var(--hover-color);
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
    color: var(--primary-color);
  }
}

ion-skeleton-text {
  --border-radius: 9999px;
  --background: #333333;
  --background-rgb: 51, 51, 51;
}
