<ion-header>
  <ion-toolbar id="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="content">
  <div *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Carregando...</p>
  </div>

  <form *ngIf="!loading && user" (ngSubmit)="saveChanges()">
    <!-- Nome -->
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="user.name" name="name" required></ion-input>
    </ion-item>

    <!-- Email -->
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="user.email" name="email" type="email" required></ion-input>
    </ion-item>

    <!-- Administrador -->
    <ion-item *ngIf="isAdmin">
      <ion-label>Administrador</ion-label>
      <ion-select [(ngModel)]="user.isAdmin" name="is_admin">
        <ion-select-option [value]="0">Não</ion-select-option>
        <ion-select-option [value]="1">Sim</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Plano -->
    <ion-item>
      <ion-label>Plano</ion-label>
      <ion-select [(ngModel)]="user.plan" name="plan">
        <ion-select-option value="monthly">Plano Mensal</ion-select-option>
        <ion-select-option value="yearly">Plano Anual</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Status da Assinatura -->
    <ion-item>
      <ion-label>Status da Assinatura</ion-label>
      <ion-select [(ngModel)]="user.subscriptionStatus" name="subscription_status">
        <ion-select-option value="inactive">Inativo</ion-select-option>
        <ion-select-option value="active">Ativo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-label style="margin-left: 19px;">Data de Início</ion-label>
    <ion-item>
      <ion-col size="12" style="margin-bottom: 2px;">
        <ion-datetime-button datetime="dateStartProjeto"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" class="ion-modal-color">
          <ng-template>
            <ion-datetime id="dateStartProjeto" presentation="date"
              [(ngModel)]="user.subscriptionStartDate"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-item>

    <ion-label style="margin-left: 19px;">Data de Término </ion-label>
    <ion-item>
      <ion-col size="12" style="margin-bottom: 2px;">
        <ion-datetime-button datetime="dateStartProjeto"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" class="ion-modal-color">
          <ng-template>
            <ion-datetime id="dateStartProjeto" presentation="date"
              [(ngModel)]="user.subscriptionEndDate"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-item>

    <ion-button expand="block" type="submit" color="primary" [disabled]="loading">
      Salvar Alterações
    </ion-button>
  </form>

  <div *ngIf="successMessage" class="text-green">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="text-red">{{ errorMessage }}</div>
</ion-content>