.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

ion-item {
  margin-bottom: 12px;
}

ion-badge {
  font-size: 0.9rem;
  padding: 6px 12px;
  border-radius: 8px;
  text-transform: capitalize;
}
