<ion-header>
  <ion-toolbar id="toolbar">
    <ion-title>
      {{ content[type].title || 'Sumário' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="primary">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="modal-content-container">
  <ion-spinner *ngIf="loading" name="crescent" class="mx-auto my-4"></ion-spinner>
  <ion-text color="danger" *ngIf="errorMsg">{{ errorMsg }}</ion-text>

  <div
    *ngIf="!loading && !errorMsg"
    class="modal-content sumario-html"
    [innerHTML]="content[type].content">
  </div>
</ion-content>
