ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: white;
  }
}

.pdf-container {
  --padding-top: 0;
  --padding-bottom: 0;
  position: relative;

  pdf-viewer {
    display: block !important;
    width: 100%  !important;
    height: 100% !important;
  }

  .pdf-nav {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 4px;
  }
}


.modal-content {
  h3 {
    color: var(--ion-color-primary);
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: justify;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      margin-bottom: 0.5rem;
      padding-left: 1rem;
      position: relative;

      &:before {
        content: "•";
        color: var(--ion-color-primary);
        position: absolute;
        left: 0;
      }
    }
  }

  strong {
    color: var(--ion-color-primary);
  }
} 