<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar id="toolbar">
    <ion-title>
      Regimento Interno <span>Comentado</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-page">  
  <div class="background-wrapper">
    <ion-card-content>
    <section class="section">
      <ng-container *ngIf="!isLoading && hasFullAccess() && books?.length">
        <ion-grid *ngFor="let book of books" >
          <ion-row [routerLink]="['/view-text', book.id]">
            <ion-col class="menu-item-livro text-center">
              <div>
                <h2 class="auxiliares-text"> 
                  <strong>
                    Regimento Interno Comentado da Câmara dos Deputados
                  </strong>
                </h2>
                <p class="auxiliares-text">
                  <span>1ª Edição 2025</span>
                </p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
      <ng-container *ngIf="!isLoading && bookLimit && (!hasFullAccess())">
        <ion-grid>
          <ion-row [routerLink]="['/view-text-limit', bookLimit.livro.id]">
            <ion-col class="menu-item-livro text-center">
              <div>
                <h2 class="auxiliares-text">
                  <strong>
                    Regimento Interno Comentado da Câmara dos Deputados
                  </strong>
                </h2>
                <p class="auxiliares-text">
                  <span>1ª Edição 2025</span>
                </p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </section>

    <div class="dashboard-title">
      <span style="display: flex; align-items: center; justify-content: center; text-align: center;">Acontece na Câmara Agora</span>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="6" class="textos-item">
          <a class="textos-auxiliares-box text-center" href="https://www.camara.leg.br/plenario" target="_blank" style="text-decoration: none;">
            <div class="auxiliares-text link-text">No plenário</div>
          </a>
        </ion-col>
        <ion-col size="6" class="textos-item">
          <a class="textos-auxiliares-box text-center" href="https://www.camara.leg.br/presenca-comissoes/painel.comissoes" target="_blank" style="text-decoration: none;">
            <div class="auxiliares-text link-text">Nas comissões</div>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="dashboard-title">
      <span style="display: flex; align-items: center; justify-content: center; text-align: center;">Atualizações e novidades</span>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="textos-item">
          <a class="textos-auxiliares-box text-center" href="https://www.camara.leg.br/presenca-comissoes/painel.comissoes" target="_blank" style="text-decoration: none;">
            <div class="auxiliares-text link-text">Atualizações</div>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="dashboard-title">
      <span style="display: flex; align-items: center; justify-content: center;">Textos Auxiliares</span>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let texto of textos" class="menu-item">
          <div class="textos-auxiliares-box text-center" (click)="openDescricaoModal(texto)" *ngIf="!texto.link; else externalLink">
            <div class="auxiliares-text" style="color: #1e999a;">{{ cleanHTML(texto.title) }}</div>
          </div>
          <ng-template #externalLink>
            <a class="textos-auxiliares-box text-center" [href]="texto.link" target="_blank">
              <div class="auxiliares-text">{{ cleanHTML(texto.title) }}</div>
            </a>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <a class="textos-auxiliares-box text-center" href='https://www.planalto.gov.br/ccivil_03/constituicao/ConstituicaoCompilado.htm' target="_blank">
            <div class="auxiliares-text-solo">Constituição Federal</div>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card-content>
  </div>
</ion-content>