:root {
  --card-bg: #ffffff;
  --text-color: #ffffff;
  --text-muted: #e0e0e0;
  --accent-color: #1e999a;
}

ion-content {
  height: 100vh;
  overflow: hidden !important;
  --overflow: hidden;
  --padding-top: 0;
}

.card-content-ios {
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
  -webkit-padding-end: 20px;
  padding-inline-end: 20px;
  padding-top: 12px;
  padding-bottom: 20px;
  font-size: 1rem;
  line-height: 1.4;
}

.menu-item-livro {
  background-color: #f8f9fa;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
  padding: 37px;
  color: #1e999a;
  box-shadow: 4px 3px 7px 2px #9ba59e;
}

.dashboard-title {
  display: flex;
  font-weight: 500;
  color: black;
}

.textos-auxiliares-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 8px;
  height: 100%;
  transition: all 0.3s ease;
  box-shadow: 3px 2px 6px #9ba59e;
  
  &:hover, &:active {
    background-color: #e9f5ff;
    box-shadow: 3px 2px 6px #9ba59e;
  }
}

.text-center {
  text-align: center;
}

.icon-large {
  font-size: 36px;
  margin-bottom: 10px;
}

.auxiliares-text {
  font-size: 14px;
  line-height: 1.4;
  word-break: break-word;
}

.auxiliares-text-solo {
  font-size: 16px;
  line-height: 1.4;
  word-break: break-word;
}