<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>pt-BR</string>
	<key>CFBundleDisplayName</key>
	<string>Regimento Interno Comentado</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.202495948548-is3ea3s3tmcv3956m6oe24eqfod5458q</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>google</string>
		<string>com.googleusercontent.apps.202495948548-is3ea3s3tmcv3956m6oe24eqfod5458q</string>
		<string>googlechrome</string>
		<string>com.google.sso</string>
		<string>appleid</string>
	</array>
	<!-- Configurações para desabilitar zoom e melhorar UX -->
	<key>UIWebViewAllowsInlineMediaPlayback</key>
	<true/>
	<key>UIWebViewAllowsPictureInPictureMediaPlayback</key>
	<false/>
	<key>UIWebViewAllowsAirPlayForMediaPlayback</key>
	<false/>
	<key>UIWebViewAllowsBackForwardNavigationGestures</key>
	<false/>
	<key>UIWebViewAllowsLinkPreview</key>
	<false/>
	<key>UIWebViewAllowsMagnification</key>
	<false/>
	<key>UIWebViewAllowsScrolling</key>
	<true/>
	<key>UIWebViewAllowsSelection</key>
	<false/>
	<key>UIWebViewAllowsTextSelection</key>
	<false/>
	<key>UIWebViewAllowsZooming</key>
	<false/>
	<key>UIWebViewAllowsZoomingIn</key>
	<false/>
	<key>UIWebViewAllowsZoomingOut</key>
	<false/>
	<key>UIWebViewAllowsDoubleTapToZoom</key>
	<false/>
	<key>UIWebViewAllowsPinchToZoom</key>
	<false/>
	<key>UIWebViewAllowsTwoFingerTapToZoom</key>
	<false/>
	<!-- Configurações para notificações push -->
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>firebase.googleapis.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
		</dict>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key><false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>regimentocd.com.br</key>
			<dict>
				<key>NSIncludesSubdomains</key><true/>
				<key>NSExceptionRequiresForwardSecrecy</key><false/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key><false/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key><string>TLSv1.2</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
